 <header>
<div class="container">
  <div class="row">
<div class="col-md-3">
  <div class="logo">
    <a href="index.html"><img src="img/provastlogo.png" class="img-fluid"></a>
  </div>
</div>
<div class="col-md-9">
 <div class="col-md-5  offset-md-8 ">
<div class="row">
  <div class="col-md-12">
    <div class="topright">
      <div class="ftb1">
        <p>Calender</p>
      </div>
      <div class="ftb">
        <p id="demo"></p>
      </div>
      <div class="ftb">
        <i class="fa fa-calendar"></i>
        <form name="clockForm">
        <input type="text" name="clockButton" class="showdate border-0"/>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="info"></div>
  </div>
</div><!-- row -->
<div class="row">
  <div class="col-md-3">
    <p>Timezones</p>
  </div>
  <div class="col-md-9">
    
  </div>
</div><!-- row -->

</div>

</div>
</div>
</header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbg">
    <div class="container">
  <a class="navbar-brand" href="#">Dashbodfgfard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      
      
      
      
      <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Admin
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">User Account Setup</a>
        <a class="dropdown-item" href="#">User Authorization</a>
        <a class="dropdown-item" href="#">User Alerts Setup</a>
        <a class="dropdown-item" href="#">Site/User Linking Report</a>
        <a class="dropdown-item" href="#">Data Import Utility</a>
        <a class="dropdown-item" href="#">Change Password</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Work Order
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Site Setup</a>
        <a class="dropdown-item" href="#">Add Request</a>
        <a class="dropdown-item" href="#">Request Update</a>
        <a class="dropdown-item" href="#">Request Status</a>
        <a class="dropdown-item" href="#">Work Order</a>
        
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Budget
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Budget Setup</a>
        <a class="dropdown-item" href="#">Excess Budget Appoval</a>
        <a class="dropdown-item" href="#">Budget Expenses Report</a>
        
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Inventory
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Material Requisition</a>
        <a class="dropdown-item" href="#">Material Transfer</a>
        <a class="dropdown-item" href="#">Material Return</a>
        
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Reports
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Work Order Status Report</a>
        <a class="dropdown-item" href="#">Work Order Site Wise</a>
        <a class="dropdown-item" href="#">Work Order Report</a>
        <a class="dropdown-item" href="#">Monitor-Location Wise/Filter</a>
        <a class="dropdown-item" href="#">Budget Site Wise</a>
        <a class="dropdown-item" href="#">Budget Location Wise</a>
        <a class="dropdown-item" href="#">Budget Asset Wise</a>
      </div>
    </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Welcome User
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Change Password</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
    </ul>
    
  </div>
  </div>
</nav>